
.employeImg {
  width: 1.75rem;
  height: 1.75rem;

  border-radius: 50%;
}
thead tr th  {
font-size: .8rem;
font-weight: 400px;
}
tr td {
  font-size: 0.75rem;
  font-weight: 25rem;
}

 .deleteBtn:hover {
    color: #BF0000!important;  ;

}